
<p>
    <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="All_Users">Users</a>
    <a class="btn btn-sm btn-primary" asp-controller="Firms" asp-action="Index">Firms</a>
    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="AcceptCart">Carts</a>
</p>