@using Microsoft.AspNetCore.Identity
@using MainPr.Models
@inject UserManager<User> UserManager


<ul class="log-reg">
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a asp-area="" asp-controller="PAcc" asp-action="Acc">@UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Login</a>
        </li>
        <li>
            <form asp-area="" asp-controller="Account" asp-action="Logout">
                <button class="c-button" type="submit" >Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>