@using Microsoft.AspNetCore.Identity
@using MainPr.Models
@inject UserManager<User> UserManager


<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="List">List</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">???</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Carts" asp-action="Index">Cart</a>
    </li>
</ul>