@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Our accounts</h4>
    <div>
        <p>
            Emain: admin@gmail.com <br />
            Password: admin@gmail.com<br />
            Role: admin<br />
        </p>
        <p>
            Emain: atom54@gmail.com<br />
            Password: atom54@gmail.com<br />
            Role: user<br />
        </p>
        <p>
            Emain: peppo@gmail.com<br />
            Password: peppo@gmail.com<br />
            Role: user<br />
        </p>
    </div>
</div>
