@model IEnumerable<MainPr.Models.Item>
@using Microsoft.AspNetCore.Identity
@using MainPr.Models
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> roleManager

@{
    ViewData["Title"] = "Товары";
}



<h1>Товары</h1>

@*@if (User.IsInRole("user"))*@


<ul style="list-style: none;" class="catalog-grid">
    @foreach (var item in Model)
    {
        <li class="items-t">
            <div class="goods-tile" data-title="">
                <a class="goods-tile__picture" a href="https://localhost:44378/Items/Details/@item.ItemID">
                    <img class="display-field" src="~/img/@item.ImgPath" width="150" height="150" />
                </a>
                <a class="goods-text-title" href="https://localhost:44378/Items/Details/@item.ItemID">
                    <p class="display-field">@item.ItemName</p>

                </a>

                <div class="goods-tile__price">
                    <p class="goods-tile__price-value">
                        <span class="goods-tile__price-value">@item.Price</span>

                        <span class="goods-tile__price-currency"> ₴ </span>
                    </p>

                    <a class="glyphicon glyphicon-shopping-cart"  style="color:green"  asp-controller="Orders" asp-action="AddToOtrder" asp-route-id="@item.ItemID"></a>
                </div>
            </div>
        </li>
    }
</ul>


