@model MainPr.Models.User

@{
    ViewData["Title"] = "Acc";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<h1>Your Account</h1>

<body>

    <div>
        <hr />
            <p>
                <b>User Email</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Email)
            </p>
            <p>
                <b>Login</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Login)
            </p>
            <p>
                <b>PhoneNumber</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.PhoneNumber)
            </p>
            <div style="padding-top: 15px;">
                <a class="l-button-st" style="margin-top 2px" asp-area="" asp-controller="PAcc" asp-action="Edit">Edit</a>
            </div>

    </div>
</body>

