@model IQueryable<User>
@using Microsoft.AspNetCore.Identity
@using MainPr.Models
@inject SignInManager<User> SignInManager
@{
    ViewBag.Title = "Все пользователи";
}
<table class="table">
    <tr><td>Имя</td><td>Возраст</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Email</td><td>@item.Login</td></tr>
    }
</table>